# Virtual Environment
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Ca nhan
luu/
map/luu/
data_noload/
*.db
.env
api/how_to_run.py

# OS
Thumbs.db
.DS_Store

# Logs
*.log